.promo-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
}

.promo-close {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
